:root {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #ffffff;
  background-color: #131324;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #131324;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: #9a86f3; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4e0eff; 
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}
